.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > img {
  object-fit: contain;
  height: 30px;
  margin-left: 5px;
}

.header__middle {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__middle > .MuiSvgIcon-root {
  color: grey;
}

.header__middle > input {
  border: none;
  width: 100%;
  padding: 10px;
  font-size: medium;
  background-color: transparent;
}
.header__right {
  display: flex;
  padding-right: 20px;
}
